apiVersion: apps/v1
kind: Deployment
metadata:
  name: star
  labels:
    app: star
spec:
  replicas: 1
  selector:
    matchLabels:
      app: star
  template:
    metadata:
      labels:
        app: star
    spec:
      containers:
        - name: star
          image: 052937454741.dkr.ecr.ap-southeast-1.amazonaws.com/ecr-skcc-admin16-star:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5